
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1280px;
    background: #fbfbfb;
}

.container {
    z-index: -5;
    
}

.main {
    background: #ffffff;
    padding-top: 140px;
    width: 1920px;
    margin: 0 auto;
}

.main .slide {
    position: relative;
}

.main .slide .prev {
    background: url(../img/bg_swiper_prev.png) no-repeat center;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.main .slide .next {
    background: url(../img/bg_swiper_next.png) no-repeat center;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.main .slide .indicator {
    position: absolute;
    left: 40%;
    bottom: 50px;
    width: 366px;
}

.main .slide .indicator .play {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(../img/bg_swiper_pause.png) no-repeat;
}

.main .slide .indicator .timer {
    width: 300px;
    height: 6px;
    border-radius: 6px;
    background: #fff;
    margin-top: 16px;
    margin-left: 65px;
}

/*  mainArea style */
.mainArea {
    margin: 0 auto;
    padding-bottom: 60px;
    background: #fbfbfb;
}

.mainArea ul {
    margin: 0 auto;
    width: 1280px;
    /* height: 1270px; */
}

.mainArea .h3 h3 {
    height: 60px;
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0px 35px 20px;
    padding-top: 30px; 
}


.mainArea ul li {
    width: 366px;
    height: 438px;
    overflow: hidden;
    background: #fbfbfb;
    float: left;
    border-radius: 2%;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);;  
    box-sizing: border-box;
    margin: 20px;
}

.mainArea ul li p{
    font-size: 18px;
    padding: 24px 30px;
    line-height: 1.9;
}

.mainArea .plusbtn a {
    margin-right: 50px;
    padding-top: 1000px;
    display: block;
    text-align: center;

}
.aside {
    width: 150px;
    position: sticky;
    bottom: 110px;
    left: 95% ;
    z-index: 2;
}

.aside .go-story {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/btn_story_04.png) no-repeat center 0;
}

.aside .goDelivery {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 15px 0;
    background: url(../img/btn_delivery_04.png) no-repeat center 0;
}

.btnTop {
    display: block;
    width: 51px;
    height: 48px;
    background: url(../img/btn_top_04.png) 0 14px no-repeat;
    text-indent: -9999px;
    font-size: 1px;
    margin-left: 41px;
}





