@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common style */
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1280px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header style */
header {
    width: 100vw;
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    border-bottom: 1px solid #ffbc0d;
}

header .inner-header {
    width: 1168px;
    margin: 0 auto;
    position: relative;
}

header .inner-header .logo {
    float: left;
    position: relative;
    top: 28px;
}

header .inner-header .hMenu {
    float: left;
    height: 100%;
}

header .inner-header .hMenu .menu {
    margin-left: 50px;
}

header .inner-header .hMenu .menu li {
    float: left;
    margin: auto 50px;
    font-size: 18px;
    font-weight: 900;
    line-height: 140px;
}

header .inner-header .hMenu .menu li:hover {
    border-bottom: 4px solid #ffbc0d;
}

header .inner-header .rightMenu {
    position: absolute;
    top: 53px;
    right: 57px;
}

header .inner-header .rightMenu a {
    float: left;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 80px;
    height: 35px;
    margin: auto 1px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

header .inner-header .rightMenu a:first-child {
    background: #db0007;
}

header .inner-header .rightMenu a:nth-child(2) {
    background: #d87e00;
}

header .inner-header .rightMenu a:last-child {
    background: #264a36;
}

header .inner-header .find {
    float: right;
    line-height: 140px;
    font-size: 35px;
}

header .inner-header .gnb-mobile {
    display: none;
}

/* footer style */
footer {
    background: #292929;
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    height: 300px;
}

footer .inner-footer {
    padding: 60px;
    width: 1168px;
    margin: 0 auto;
}

footer .inner-footer .fUtil {
    float: left;
}

footer .inner-footer .fUtil li:first-child {
    color: yellow;
}

footer .inner-footer .fInfo {
    float: left;
    margin-left: 100px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 2;
}

footer .inner-footer .fSns {
    float: right;
    font-size: 40px;
}

footer .inner-footer .fSns li {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
}

footer .inner-footer .fSns li a {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -13px;
    left: 4px;
}
footer .inner-footer .fSns li .b {
    width: 40px;
    height: 40px;
    top: -19px;
    left: 7px;
}
footer .inner-footer .fSns li .c {
    width: 40px;
    height: 40px;
    top: -19px;
    left: 7px;
}

footer .inner-footer .fSns li .d {
    width: 40px;
    height: 40px;
    top: -23px;
    left: -25px;
}

@media screen and (min-width:415px) {
    .mo-wrap {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .visible {
        display: none;
    }

    .mo-wrap {
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    .mo-header {
        width: 100vw;
        height: 62px;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 9999;
    }

    .mo-header .mo-inner-header .mo-logo {
        float: left;
        margin: 15px;
        width: 74px;
        height: 62px;
    }

    .mo-header .mo-inner-header .mo-logo a img {
        width: 40px;
        height: 35px;
    }

    .gnb-mobile {
        float: right;
        font-size: 35px;
        margin: 15px;
    }

    .mo-footer {
        font-size: 14px;
        font-weight: 100;
        width: 100%;
        padding: 33px 15px 80px;
        background-color: #292929;
        font-weight: 400;
        line-height: 1.2;
    }

    .mo-footer .mo-fUtil {
        overflow: hidden;
        padding-bottom: 14px;
        border-bottom: 1px solid #494949;
    }

    .mo-footer .mo-fUtil a {
        float: left;
        width: 50%;
        padding: 8px 0;
    }

    .mo-footer .mo-fUtil a:first-child {
        color: yellow;
    }

    .mo-footer .mo-fInfo {
        display: block;
        color: #909090;
        padding: 30px 0;
        border-bottom: 1px solid #494949;        
    }

    .mo-footer .mo-small {
        color: #909090;
        padding: 30px 0 40px;
    }

    .mo-products {
        width: 345px;
        padding: 40px 0 10px 0;
        margin: 0 auto;
    }

    .mo-products::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-right: 10px;
        background: #ffbc0d;
        border-radius: 50%;
        vertical-align: middle;
    }

}