.container {
    padding-top: 140px;
}

/* visual-board style */
.container .visual-board{
    background: url(../img/bg_visual_story04.jpg);
    width: 1922px;
    height: 220px;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    z-index: -2;
}

.container .visual-board::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #00000073;
    opacity: 0.9;
    width: 100vw;
    height: 220px;
    z-index: -1;
}

.container .visual-board .inner-vb {
    width: 1168px;
    height: 175px;
    margin: 0 auto;
    padding: 30px 0 15px;
}

.container .visual-board .inner-vb .vb-title {
    font-size: 50px;
}

.container .visual-board .inner-vb .vb-subCopy {
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
}

.container .visual-board ul li {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 600;
}

.container .visual-board ul li:nth-child(2):before,
.container .visual-board ul li:last-child:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 14px 0 10px;
    border-radius: 100%;
    background: #f5bd43;
}

/* mainArea style */
.mainArea {
    padding: 30px 0 60px;
    width: 1168px;
    margin: 0 auto;
    height: 300px;
}

.tab {
    margin: 0 auto;
    text-align: center;
}

.tab li {
    display: inline-block;
    margin: 0 40px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #808080;
    font-weight: 700;
}

.tab li:first-child {
    color: #db0007;
    border-bottom: 1px solid #db0007;
}

.ma-title {
    margin: 100px 0 30px;
    font-size: 30px;
    font-weight: 700;
}

.crewList {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.crewList .tit {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;    
    line-height: 34px;
}

.crewList .crewInfo {
    display: block;
    margin-top: 5px;
    color: #808080;
    font-weight: 500;
}

.crewList li a {
    position: relative;
}

.crewList li a:hover::after {
    content: '┼';
    line-height: 247px;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: -50;
    left: 0;
    background: #FFBC0D;
    opacity: 0.9;
    width: 247px;
    height: 247px;
    border-radius: 100%;
    font-weight: normal;
}

.aside {
    width: 150px;
    position: sticky;
    bottom: 110px;
    left: 85% ;
    z-index: 2;
}

.aside .go-story {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/btn_story_04.png) no-repeat center 0;
}

.aside .goDelivery {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 15px 0;
    background: url(../img/btn_delivery_04.png) no-repeat center 0;
}

.btnTop {
    border: none;
    width: 51px;
    height: 48px;
    background: url(../img/btn_top_04.png) 0 14px no-repeat;
    text-indent: -9999px;
    font-size: 1px;
    margin-left: 41px;
}