.container {
    padding-top: 140px;
    z-index: -5;
    /* background: url(../img/bg_food_01_01.jpg) no-repeat center top; */
}

/* visual-board style */
.container .visual-board{
    background: url(../img/bg_visual_story03.jpg) 50% 50% no-repeat;
    width: 1922px;
    height: 220px;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    z-index: -2;
}

.container .visual-board::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #00000073;
    opacity: 0.9;
    width: 100vw;
    height: 220px;
    z-index: -1;
}

.container .visual-board .inner-vb {
    width: 1168px;
    height: 175px;
    margin: 0 auto;
    padding: 30px 0 15px;
}

.container .visual-board .inner-vb .vb-title {
    font-size: 50px;
}

.container .visual-board .inner-vb .vb-subCopy {
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
}

.container .visual-board ul li {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: 600;
}

.container .visual-board ul li:nth-child(2):before,
.container .visual-board ul li:last-child:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 14px 0 10px;
    border-radius: 100%;
    background: #f5bd43;
}


/* aside style */
.aside {
    width: 150px;
    position: sticky;
    bottom: 110px;
    left: 85% ;
    z-index: 2;
}

.aside .go-story {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../img/btn_story_04.png) no-repeat center 0;
}

.aside .goDelivery {
    display: block;
    width: 121px;
    height: 121px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 15px 0;
    background: url(../img/btn_delivery_04.png) no-repeat center 0;
}

.btnTop {
    border: none;
    width: 51px;
    height: 48px;
    background: url(../img/btn_top_04.png) 0 14px no-repeat;
    text-indent: -9999px;
    font-size: 1px;
    margin-left: 41px;
}